<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TurnosLaM.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI4Ljc1IiB2aWV3Qm94PSIwIDAgMTAyNCA4OTYiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik01NzAgMzg0aDM4cTEzIDAgMjIuNSA5LjVUNjQwIDQxNnQtOS41IDIyLjVUNjA4IDQ0OGgtMzhxLTEwIDI4LTM0LjUgNDZUNDgwIDUxMnEtNDAgMC02OC0yOHQtMjgtNjh0MjgtNjh0NjgtMjhxMzEgMCA1NS41IDE4dDM0LjUgNDZtNDIyIDY0aC0zNHEtOSAxMDEtNzEuNSAxODYuNVQ3MjUgNzcydC0yMTMgNTl2MzNxMCAxMy05LjUgMjIuNVQ0ODAgODk2dC0yMi41LTkuNVQ0NDggODY0di05OHEtMTA2LTgtMTkyLTU5di03NnE5NyA3MyAyMjQgNzNxNzQgMCAxMzctMTUuNXQxMTEuNS00NnQ3Ni04MC41VDgzMiA0NDhxMC04Ny00Ny0xNjAuNVQ2NTcgMTcxdC0xNzctNDN0LTE3NyA0M3QtMTI4IDExNi41VDEyOCA0NDhIMzJxLTEzIDAtMjIuNS05LjVUMCA0MTZ0OS41LTIyLjVUMzIgMzg0aDM4cTE4LTk4IDg1LTE3NS41VDMyMCA5NFY0MVE0MTIgMCA1MTIgMHExMTYgMCAyMTUuNSA1MXQxNjEgMTM5VDk1OCAzODRoMzRxMTMgMCAyMi41IDkuNXQ5LjUgMjIuNXQtOS41IDIyLjVUOTkyIDQ0OCIvPjwvc3ZnPg==" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    @* <header class="p-2 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h3 class="justify-content-start"><a class="text-decoration-none text-dark" asp-controller="Home"
                        asp-action="Index">TurnosLaM</a></h3>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Turnos</a></li>
                    <li><a href="#" class="nav-link px-2 text-secondary">Empleados</a></li>
                    <li><a href="#" class="nav-link px-2 text-secondary">Cola</a></li>
                    <li><a href="#" class="nav-link px-2 text-secondary">Crear Turno</a></li>
                </ul>


                <div class="dropdown text-end">
                        <div class="flex-shrink-1 dropdown">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small shadow">
                                <li><button class="dropdown-item" onclick="hola()">Perfil</button></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a asp-controller="" asp-action="" class="dropdown-item">Cerrar sesión</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </header> *@
    @* NAVBAR *@
    <div class="row mb-5">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="UsersAdmin" asp-action="Index">
                    <img src="https://media.istockphoto.com/id/1139549801/es/vector/el-icono-del-coraz%C3%B3n-del-estetoscopio.jpg?s=2048x2048&w=is&k=20&c=USm0gLuNQPn5X4_sVzrIjSPm1ATaXETQdn-WVuCq868=" alt="Logo" title="Hospital la Misericordia" width="42" height="42" class="rounded-circle">
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#library-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="library-menu">
                    <ul class="navbar-nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link fs-4" asp-area="" asp-controller="UsersAdmin" asp-action="Index">Panel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" asp-area="" asp-controller="UsersAdmin" asp-action="Shifts">Turnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" asp-area="" asp-controller="UsersAdmin" asp-action="Employees">Empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" asp-area="" asp-controller="UsersAdmin" asp-action="Queues">Cola</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown text-end">
                    <div class="flex-shrink-1 dropdown">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://media.istockphoto.com/id/1533834784/es/vector/s%C3%ADmbolo-icono-de-personas-gr%C3%A1ficos-vectoriales.jpg?s=1024x1024&w=is&k=20&c=3Mo767fBv8Pcj-LEg5bYAvleOCafSR3hd970529xK3Q=" alt="Logo perfil" width="42" height="42" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li>
                                <button class="dropdown-item fs-4" onclick="hola()">Perfil</button></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a asp-controller="" asp-action="" class="dropdown-item fs-4">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    @* ---------------- *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
</body>

</html>
