@using TurnosLaM.Models;
@model Queue; 

@{
    ViewData["Title"] = "Panel agente";
}

@{string? estado = Model.Status;}
 @if(Model != null && estado == "En espera")

        {
        <p>Estado actual: En espera</p>
    }else if (estado == "Ausente")
    {
        <p>Estado actual: Ausente</p>
    }
    else
    {
        <button onclick="marcarLlamado('@Model.Id')">Llamado @((Model.Calls == 0) ? "Primer" : (Model.Calls == 1) ? "Segundo" : "Tercer" )</button>

        @if (Model.Calls == 2 && (DateTime.Now - Model.StartTime).TotalSeconds < 20)
        {
            <p>Llamado Tercero</p>
        }
        else if (Model.Calls == 2)
        {
            <p>Estado actual: En espera (Contador)</p>
        }
    }
            </div>




<div class="row">
    <div class="col-7 d-flex align-items-center" style="height: 75vh;">
        <div class="card shadow-sm col-12">
            <div class="card-header bg-dark text-white text-center">
                Informaci칩n del usuario
            </div>
            <div class="card-body shadow-sm">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Nombre:</label>
                        <input type="text" class="form-control" aria-describedby="Nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-control" aria-describedby="Apellidos">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Documento</label>
                        <input type="text" class="form-control" aria-describedby="Documento de identidad">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">EPS</label>
                        <input type="text" class="form-control" aria-describedby="EPS">
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label class="form-label">Turno</label>
                            <input type="text" class="form-control" aria-describedby="Turno">
                        </div>
                        <div class="col-9">
                            <label class="form-label">Servicio</label>
                            <input type="text" class="form-control" aria-describedby="Servicio">
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5 border shadow-sm" style="height: 75vh;">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 d-flex justify-content-center">
                <a href="#" class="btn btn-primary mt-2 p-4">Siguiente turno</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 d-flex justify-content-center">

            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <form class="text-center" method="post">
                <div class="row d-flex justify-content-center mt-5">
                    <div class="col-8">
                        <select class="form-select">
                            <option value="" selected disabled>Estado</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="Break">Break</option>
                            <option value="Ba침o">Ba침o</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" style="margin-top: 115px;">Confirmar</button>
            </form>
        </div>
    </div>
</div>

@if (Model.Calls == 2 && (DateTime.Now - Model.StartTime).TotalSeconds < 20)
{
    <script>
        var secondsLeft = Math.ceil(20 - (@(DateTime.Now - Model.StartTime).TotalSeconds));
        var timer = setInterval(function() {
            secondsLeft--;
            if (secondsLeft <= 0) {
                clearInterval(timer);
                document.getElementById('status').innerText = 'Ausente';
                document.getElementById('siguiente').style.display = 'block'; // Muestra el bot칩n "Siguiente paciente"
            } else {
                document.getElementById('timer').innerText = secondsLeft + ' segundos';
            }
        }, 1000);
    </script>
}
