@{
    ViewData["Title"] = "Login";
}

<div class="row d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="col-5">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white text-center">
                Inicio de Sesión
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Email:</label>
                        <input type="email" class="form-control" aria-describedby="Email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-2">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
