html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




.margin-index{
  margin-top: 200px;
}

.margin-server{
  margin-top: 50px;

}

/* inicio de los estilos de vistas de users */
.title{
  font-size: 100px;

}

.title-server{
  font-size: 60px;

}
.subtitle-server{
  font-size: 40px;

}

.subtitle{
  font-size: 60px;

}
.bton{
  width: 200px;
}

.bton-tecla{
  width: 100px;
  height: 60px;
  border-radius: 16px;
  margin: 10px;
  font-size: 30px;


}
.btn-0{
  margin: 10px;
  margin-left: 10px;
  width: 220px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;

}
.card-tecla{
  border-radius: 10px;
}

.btn-continuar{
  width: 300px;
  font-size: 40px;
  border-radius: 10px;
  margin-top: 30px;
  
}
.btum{
  width: 200px;
  
}
.margin-server{

}
.buton-server{
  width: 600px;
  font-size: 35px;

}
body {
  overflow: hidden; /* Desactiva el desplazamiento */
}

.bton-solic{
  width: 300px;
  font-size: 35px;

}