@{
     Layout=null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document - TurnosLaM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TurnosLaM.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI4Ljc1IiB2aWV3Qm94PSIwIDAgMTAyNCA4OTYiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik01NzAgMzg0aDM4cTEzIDAgMjIuNSA5LjVUNjQwIDQxNnQtOS41IDIyLjVUNjA4IDQ0OGgtMzhxLTEwIDI4LTM0LjUgNDZUNDgwIDUxMnEtNDAgMC02OC0yOHQtMjgtNjh0MjgtNjh0NjgtMjhxMzEgMCA1NS41IDE4dDM0LjUgNDZtNDIyIDY0aC0zNHEtOSAxMDEtNzEuNSAxODYuNVQ3MjUgNzcydC0yMTMgNTl2MzNxMCAxMy05LjUgMjIuNVQ0ODAgODk2dC0yMi41LTkuNVQ0NDggODY0di05OHEtMTA2LTgtMTkyLTU5di03NnE5NyA3MyAyMjQgNzNxNzQgMCAxMzctMTUuNXQxMTEuNS00NnQ3Ni04MC41VDgzMiA0NDhxMC04Ny00Ny0xNjAuNVQ2NTcgMTcxdC0xNzctNDN0LTE3NyA0M3QtMTI4IDExNi41VDEyOCA0NDhIMzJxLTEzIDAtMjIuNS05LjVUMCA0MTZ0OS41LTIyLjVUMzIgMzg0aDM4cTE4LTk4IDg1LTE3NS41VDMyMCA5NFY0MVE0MTIgMCA1MTIgMHExMTYgMCAyMTUuNSA1MXQxNjEgMTM5VDk1OCAzODRoMzRxMTMgMCAyMi41IDkuNXQ5LjUgMjIuNXQtOS41IDIyLjVUOTkyIDQ0OCIvPjwvc3ZnPg==" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head> 
<body>
    <div class="container-flex">
        <div class="m-5 d-flex justify-content-center">
            <h1 >Ingresa por favor tu numero de documento</h1>
        </div>
        <div class="d-flex justify-content-center ">
            <div class="col-8 ">
                <input type="text" class="form-control  border-primary border-2" id="documentNumber" aria-describedby="emailHelp" placeholder="Digite su documento...">
            </div>
        </div>
        <div class="d-flex justify-content-center" >
            <div class="row mt-5" style="width: 80vh">
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(1)">1</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(2)">2</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(3)">3</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(4)">4</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(5)">5</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(6)">6</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(7)">7</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(8)">8</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(9)">9</button>
                </div>
                <div class="col-8">
                    <button class="btn btn-primary btn-hallo p-3 col-12 mb-2 fs-2" onclick="appendNumber(0)">0</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-danger btn-hallo p-3 col-12 mb-2 fs-2" onclick="deleteLast()">Borrar</button>
                </div>
                <div class="col-12">
                    <form asp-controller="Queues" asp-action="SaveDocument" method="post" id="myForm">
                        <input type="hidden" name="document" id="documentNumberInput">
                        <button  type="submit" class="btn btn-success btn-hallo p-3 col-12 mb-2 fs-2" id="continueButton" disabled>Continuar</button>
                    </form>               
                </div>
            </div>

        </div>
    </div>
    <script>
        function appendNumber(number) {      
            var documentNumberField = document.getElementById('documentNumber');
            if (documentNumberField.value.length < 12) {
                documentNumberField.value += number;
            }
            checkInput()
        }
        
        function deleteLast() {
            var currentNumber = document.getElementById('documentNumber').value;
            document.getElementById('documentNumber').value = currentNumber.slice(0, -1);
            checkInput();
        }
        function checkInput() {
            var documentNumber = document.getElementById('documentNumber').value;
            var continueButton = document.getElementById('continueButton');

            if (documentNumber.length > 8 && documentNumber.length <= 11) {
                continueButton.removeAttribute('disabled');
            } else {
                continueButton.setAttribute('disabled', 'disabled');
            }

            document.getElementById('myForm').addEventListener('submit', function(event) {
                event.preventDefault();
                var documentNumber = document.getElementById('documentNumber').value;
                document.getElementById('documentNumberInput').value = documentNumber;
                this.submit(); 
            });
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>

@if (TempData["shiftNotify"] != null)
{
    <script>
        shiftNotifier(@Html.Raw(Json.Serialize(TempData["shiftNotify"])));
    </script>
}
@if (TempData["documentNotFoundNotify"] != null)
{
    <script>
        documentNotFound(@Html.Raw(Json.Serialize(TempData["documentNotFoundNotify"])));
    </script>
}