@{
    Layout = null;
}

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI4Ljc1IiB2aWV3Qm94PSIwIDAgMTAyNCA4OTYiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik01NzAgMzg0aDM4cTEzIDAgMjIuNSA5LjVUNjQwIDQxNnQtOS41IDIyLjVUNjA4IDQ0OGgtMzhxLTEwIDI4LTM0LjUgNDZUNDgwIDUxMnEtNDAgMC02OC0yOHQtMjgtNjh0MjgtNjh0NjgtMjhxMzEgMCA1NS41IDE4dDM0LjUgNDZtNDIyIDY0aC0zNHEtOSAxMDEtNzEuNSAxODYuNVQ3MjUgNzcydC0yMTMgNTl2MzNxMCAxMy05LjUgMjIuNVQ0ODAgODk2dC0yMi41LTkuNVQ0NDggODY0di05OHEtMTA2LTgtMTkyLTU5di03NnE5NyA3MyAyMjQgNzNxNzQgMCAxMzctMTUuNXQxMTEuNS00NnQ3Ni04MC41VDgzMiA0NDhxMC04Ny00Ny0xNjAuNVQ2NTcgMTcxdC0xNzctNDN0LTE3NyA0M3QtMTI4IDExNi41VDEyOCA0NDhIMzJxLTEzIDAtMjIuNS05LjVUMCA0MTZ0OS41LTIyLjVUMzIgMzg0aDM4cTE4LTk4IDg1LTE3NS41VDMyMCA5NFY0MVE0MTIgMCA1MTIgMHExMTYgMCAyMTUuNSA1MXQxNjEgMTM5VDk1OCAzODRoMzRxMTMgMCAyMi41IDkuNXQ5LjUgMjIuNXQtOS41IDIyLjVUOTkyIDQ0OCIvPjwvc3ZnPg==" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
 </head>
 <body>
    
    <div class="container-fluid dacontainer mt-2">
        <div class="row ms-1" >

            <div class="col-4 border-3 border-dark">
                <div class="col-12 mb-1">
                    <div class=" card border-3 border-dark">
                        <div class="row g-0 card-body">
                            <div class="col-md-6">
                                <h1 class="text-center ">Turno</h1>
                            </div>
                            <div class="col-md-6">
                                <h1 class="text-center">Modulo</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-1">
                    <div class="card border-2 border-dark">
                        <div class="row g-0 card-body">
                            <div class="col-md-6">
                                <h1 class="text-center ">INF-201</h1>
                            </div>
                            <div class="col-md-6">
                                <h1 class="text-center">3</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8 row">
                <div class="col-12 mb-1">
                    <div class="card border-3 border-dark">
                        <div class="row g-0 card-body">
                            <div class="col-md-6">
                                <h1 class="text-center ">INF-201</h1>
                            </div>
                            <div class="col-md-6">
                                <h1 class="text-center">3</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 border-3 border-dark">
                    <div class="image-container ">
                        <img src="https://st.depositphotos.com/1003352/2263/i/450/depositphotos_22635647-stock-photo-mountain-lake.jpg"
                            alt="" class="img-fluid">
                    </div>
                </div>
                
                <style>

                </style>
                
                
                             
            </div>

        </div>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 </body>
 </html>
