@{
    ViewData["Title"] = "Registrar - MSC";
}

@model CreateEmployee;

<div class="row d-flex align-items-center" style="height: 75vh;">
    <div class="col-12">
        <div class="card shadow-sm col-12">
            <div class="card-header bg-dark text-white text-center">
                Registrar nuevo empleado
            </div>
            <div class="card-body shadow-sm">
                <form method="post" asp-action="Create" asp-controller="UsersAdmin">
                    <div class="row mb-3 d-flex justify-content-center">
                        <div class="col-5">
                            @* Nombre *@
                            <label class="form-label" asp-for="FirstName">Nombre</label>
                            <input type="text" class="form-control" aria-describedby="Nombre" asp-for="FirstName">
                            @* Email *@
                            <label class="form-label mt-3" asp-for="Email">Email</label>
                            <input type="email" class="form-control" aria-describedby="Email" asp-for="Email">
                            @* Teléfono *@
                            <label class="form-label mt-3" asp-for="PhoneNumber">Teléfono</label>
                            <input type="number" class="form-control" aria-describedby="Teléfono" asp-for="PhoneNumber">
                            @* Rol *@
                            <select class="form-select mt-5" asp-for="Role">
                                <option value="" selected disabled>Rol</option>
                                <option value="Asesor">Asesor</option>
                                <option value="Mision Controller">MSC</option>
                            </select>
                             @* Módulo *@
                            <label class="form-label mt-3" asp-for="Module">Módulo:</label>
                            <input type="text" class="form-control" aria-describedby="Nombre" asp-for="Module">
                        </div>
                        <div class="col-5">
                            @* Apellidos *@
                            <label class="form-label" asp-for="LastName">Apellidos</label>
                            <input type="text" class="form-control" aria-describedby="Apellidos" asp-for="LastName">
                            @* Contraseña *@
                            <label class="form-label mt-3">Contraseña</label>
                            <input type="password" class="form-control" aria-describedby="Contraseña" asp-for="Password">
                            @* Género *@
                            <select class="form-select mt-5">
                                <option value="" selected disabled>Género</option>
                                <option value="male">Masculino</option>
                                <option value="female">Femenino</option>
                                <option value="other">Otro</option>
                            </select>
                            @* Estado actual *@
                            <select class="form-select mt-5" asp-for="Status">
                                <option value="" selected disabled>Estado actual</option>
                                <option value="Active">Activo</option>
                                <option value="Disabled">Inactivo</option>
                                <option value="Vacation">Vacaciones</option>
                            </select>
                            @* Skills *@
                            <label class="form-label mt-4">Skills:</label>
                            <div class="form-check ">
                                <input class="form-check-input ms-3" aria-describedby="Citas médicas" type="checkbox" asp-for="Skill1">
                                <label class="form-check-label ms-2" asp-for="Skill1">Citas médicas</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ms-3" aria-describedby="Pago de facturas" type="checkbox" asp-for="Skill2">
                                <label class="form-check-label ms-2" asp-for="Skill2">Pago de facturas</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ms-3" type="checkbox" asp-for="Skill3">
                                <label class="form-check-label ms-2" aria-describedby="Medicamentos" asp-for="Skill3">Medicamentos</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ms-3" type="checkbox" asp-for="Skill4">
                                <label class="form-check-label ms-2" aria-describedby="Información general" asp-for="Skill4">Información general</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-5 p-3">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>