@{
    ViewBag.Title ="Panel MSC";
}


<div class="row d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
    <div class="col-6 d-flex flex-column">
        <a class="btn btn-primary mt-3 p-3 fs-2" asp-controller="UsersAdmin"asp-action="Shifts">Turnos</a>
        <a class="btn btn-success mt-3 p-3 fs-2" asp-controller="UsersAdmin"asp-action="Employees">Empleados</a>
        <a class="btn btn-danger mt-3 p-3 fs-2" asp-controller="UsersAdmin"asp-action="Shift">Colas</a>
        <a class="btn btn-warning mt-3 p-3 fs-2" asp-controller="Users"asp-action="Index">Asignar turno</a>
        <a class="btn btn-secondary mt-3 p-3 fs-2" asp-action="Create"asp-controller="UsersAgent">Registrar empleado</a>
    </div>
</div>

