@{
    ViewBag.Title ="Home MSC";
}

<div class="Containerbtn">
    <div class="botones">
        <a class="btn btn-primary"asp-controller="UsersAdmin"asp-action="Shifts">Turnos</a>
        <a class="btn btn-success"asp-controller="UsersAdmin"asp-action="Employees">Empleados</a>
        <a class="btn btn-danger"asp-controller="UsersAdmin"asp-action="Queues">Colas</a>
        <a class="btn btn-warning"asp-controller="Users"asp-action="Index">Asignar turno</a> <!--Controlador e index de dina-->
    </div>
</div>
    <div class="ruta">
        <a class="link" asp-area=""asp-action=""asp-controller="">Registrar empleados</a>
    </div>