@{
    ViewBag.Title ="Home MSC";
}

<div class="Containerbtn">
    <div class="botones">
        <a class="btn btn-primary"asp-area=""asp-controller="UsersAdminController"asp-action="Shifts">Turnos</a>
        <a class="btn btn-success"asp-area=""asp-controller="UsersAdminController"asp-action="Employees">Empleados</a>
        <a class="btn btn-danger"asp-area=""asp-controller="UsersAdminController"asp-action="Shift">Colas</a>
        <a class="btn btn-warning"asp-area=""asp-controller=""asp-action="">Asignar turno</a> <!--Controlador e index de dina-->
    </div>
</div>
    <div class="ruta">
        <a class="link" asp-area=""asp-action=""asp-controller="">Registrar empleados</a>
    </div>

