@{
    ViewBag.title = "Turnos";
}
<div class="container-fluid">
    <div class="title d-flex justify-content-center">
        <h1>Turnos</h1>
    </div>
    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Paciente Id</th>
                    <th>Servicio Id</th>
                    <th>Fecha de creación</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var ShiftModel in Model){
                <tr>
                    <td>@ShiftModel.Id</td>
                    <td>@ShiftModel.PatientId</td>
                    <td>@ShiftModel.ServiceId</td>
                    <td>@ShiftModel.CreationDate</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>